<header class="header">
  <a href="index.html">
    <img src="img/gens-bar-mirano.svg" class="logo" alt="Gens Pub Mirano">
  </a>

  <nav class="nav" id="navMenu">
<a href="gens-pub-mirano.html" class="nav-link">Il pub</a>
<a href="menu-gens-pub-mirano.html" class="nav-link">Menu</a>
<a href="birre-alla-spina-mirano.html" class="nav-link">Le nostre birre</a>
    <a href="eventi-gens-pub-mirano.html" class="nav-link">Eventi</a>
    <a href="contatti-gens-pub-mirano.html" class="nav-link">Contatti</a>
  </nav>

  <div class="burger" id="burger">
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>